<!-- portfolio/templates/resume.html -->
{% extends 'base.html' %}
{% block title %}Resume{% endblock %}

{% block content %}
<p>Tiffany's Resume</p>
<p>
	<table border = "1" width = "100%">
        <thead>
        	<tr>
            	<td colspan = "4">Head Candy Maker</td>
            </tr>
        </thead>
        <tbody>
        	<tr>
               <td>Spun</td>
               <td>London, England</td>
               <td>2015-Present</td>
               <td><a href="https://www.spun-candy.com" target="_blank">Website</a></td>
            </tr>
        <!--<tfoot>-->
            <tr>
               <td colspan = "4">
               	<ul>
               		<li>Custom orders</li>
               		<li>Bake</li>
               		<li>Decorate</li>
               		<li>Candy-making</li>
               		<li>Chocolate-making</li>
               		<li>Sales</li>
               	</ul>
               </td>
            </tr>
        <!--</tfoot>-->
         
        <!--<tbody>-->
            
        <!--</tbody>-->
        <!--<thead>-->
        	<tr>
            	<td colspan = "4">Associate Candy Maker</td>
            </tr>
        <!--</thead>-->
        	<tr>
               <td>Sugar Factory</td>
               <td>New York, NY</td>
               <td>2012-2015</td>
               <td><a href="https://sugarfactory.com" target="_blank">Website</a></td>
            </tr>
        <!--<tfoot>-->
            <tr>
               <td colspan = "4">
               	<ul>
               		<li>Assist with custom orders</li>
               		<li>Assist with decorating</li>
               		<li>Candy-making</li>
               		<li>Chocolate-making</li>
               	</ul>
               </td>
            </tr>
        <!--</tfoot>-->
         
       <!--<tbody>-->
            
        </tbody>
        
    </table>
</p>
{% endblock %}